In [25]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd 

train_df = pd.read_csv('C:/Users/w7e7r/Desktop/스파르타/심화프로젝트/train.csv')
train_df.head()
train_df.tail()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
96289,TRAIN_96289,14400000,36 months,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,TRAIN_96290,28800000,60 months,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,TRAIN_96291,14400000,36 months,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,TRAIN_96292,15600000,36 months,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,TRAIN_96293,8640000,36 months,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [26]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [27]:
주택_소유_상태 = train_df['주택소유상태'].unique()
print(주택_소유_상태)

['RENT' 'MORTGAGE' 'OWN' 'ANY']

In [28]:
주택_소유_상태_개수 = train_df['주택소유상태'].value_counts()
print(주택_소유_상태_개수)

주택소유상태
MORTGAGE    47934
RENT        37705
OWN         10654
ANY             1
Name: count, dtype: int64

- any가 어디에 있을까!

In [29]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
oe = OneHotEncoder()

In [30]:
le.fit(train_df[['주택소유상태']])

c:\Users\w7e7r\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [31]:
le.classes_

array(['ANY', 'MORTGAGE', 'OWN', 'RENT'], dtype=object)

In [32]:
train_df['home_le'] = le.transform(train_df[['주택소유상태']])
train_df.head(3)

c:\Users\w7e7r\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급,home_le
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C,3
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B,1
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A,1

In [33]:
zero_home_le = train_df[train_df['home_le'] == 0]
print(zero_home_le)

                ID      대출금액        대출기간       근로기간 주택소유상태      연간소득  \
28730  TRAIN_28730  41160000   36 months  10+ years    ANY  93600000

       부채_대비_소득_비율  총계좌수 대출목적  최근_2년간_연체_횟수  총상환원금  총상환이자  총연체금액  연체계좌수 대출등급  \
28730        17.71    20   기타             0      0    0.0    0.0    0.0    C

       home_le
28730        0

없애는게 좋을 듯

In [34]:
train_df = train_df.drop(zero_home_le.index)

# 삭제된 후의 데이터프레임 출력
print(train_df)

                ID      대출금액        대출기간       근로기간    주택소유상태       연간소득  \
0      TRAIN_00000  12480000   36 months    6 years      RENT   72000000
1      TRAIN_00001  14400000   60 months  10+ years  MORTGAGE  130800000
2      TRAIN_00002  12000000   36 months    5 years  MORTGAGE   96000000
3      TRAIN_00003  14400000   36 months    8 years  MORTGAGE  132000000
4      TRAIN_00004  18000000   60 months    Unknown      RENT   71736000
...            ...       ...         ...        ...       ...        ...
96289  TRAIN_96289  14400000   36 months  10+ years  MORTGAGE  210000000
96290  TRAIN_96290  28800000   60 months  10+ years  MORTGAGE  132000000
96291  TRAIN_96291  14400000   36 months     1 year  MORTGAGE   84000000
96292  TRAIN_96292  15600000   36 months    5 years  MORTGAGE   66330000
96293  TRAIN_96293   8640000   36 months  10+ years      RENT   50400000

       부채_대비_소득_비율  총계좌수   대출목적  최근_2년간_연체_횟수    총상환원금     총상환이자  총연체금액  \
0            18.90    15  부채 통합             0        0       0.0    0.0
1            22.33    21  주택 개선             0   373572  234060.0    0.0
2             8.60    14  부채 통합             0   928644  151944.0    0.0
3            15.09    15  부채 통합             0   325824  153108.0    0.0
4            25.39    19  주요 구매             0   228540  148956.0    0.0
...            ...   ...    ...           ...      ...       ...    ...
96289         9.33    33  신용 카드             0   974580  492168.0    0.0
96290         5.16    25  주택 개선             0   583728  855084.0    0.0
96291        11.24    22  신용 카드             0  1489128  241236.0    0.0
96292        17.30    21  부채 통합             2  1378368  818076.0    0.0
96293        11.80    14  신용 카드             0   596148  274956.0    0.0

       연체계좌수 대출등급  home_le
0        0.0    C        3
1        0.0    B        1
2        0.0    A        1
3        0.0    C        1
4        0.0    B        3
...      ...  ...      ...
96289    0.0    C        1
96290    0.0    E        1
96291    0.0    A        1
96292    0.0    D        1
96293    0.0    C        3

[96293 rows x 16 columns]

없앰!