### 02/06 정리
### 높은 등급의 특징

아래 특징의 비율이 등급이 높을수록 높았음

아래 특징들을 바탕으로 파생변수를 만들 수 있을 거 같음

- 대출기간 : 단기

- 근로기간 : 장기

- 주택상태 : 전세

- 대출목적 : 부채통합

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sidetable

In [39]:
## 데이터 갯수

df = pd.read_csv('open/train.csv')
len(df)

96294

In [40]:
## 결측치 확인
## na나 null이 아닌 Unknown으로 되어있음
df.isin(['Unknown']).sum()

ID                 0
대출금액               0
대출기간               0
근로기간            5671
주택소유상태             0
연간소득               0
부채_대비_소득_비율        0
총계좌수               0
대출목적               0
최근_2년간_연체_횟수       0
총상환원금              0
총상환이자              0
총연체금액              0
연체계좌수              0
대출등급               0
dtype: int64

In [5]:
df['대출등급'].unique()

array(['C', 'B', 'A', 'D', 'F', 'G', 'E'], dtype=object)

### 등급별 특징 확인

In [38]:
category_col = ['대출기간', '근로기간', '주택소유상태', '대출목적', '최근_2년간_연체_횟수']

for col in category_col:
    print(col)
    display(df[df['대출등급'] == "A"][col].value_counts()/df[df['대출등급'] == "A"][col].value_counts().sum())
    print('----------------------------------')

## 대출기간 : 단기
## 근로기간 : 장기
## 주택상태 : 전세
## 대출목적 : 부채통합

대출기간

 36 months    0.951109
 60 months    0.048891
Name: 대출기간, dtype: float64

----------------------------------
근로기간

10+ years    0.350107
2 years      0.086692
3 years      0.077212
< 1 year     0.075244
1 year       0.061114
5 years      0.058788
4 years      0.057775
Unknown      0.055688
8 years      0.051693
6 years      0.038755
9 years      0.037026
7 years      0.036907
10+years     0.008168
<1 year      0.003279
3            0.001192
1 years      0.000358
Name: 근로기간, dtype: float64

----------------------------------
주택소유상태

MORTGAGE    0.574767
RENT        0.314095
OWN         0.111138
Name: 주택소유상태, dtype: float64

----------------------------------
대출목적

부채 통합     0.479132
신용 카드     0.383019
주택 개선     0.073038
주요 구매     0.022180
기타        0.021226
자동차       0.010374
의료        0.006201
휴가        0.002385
소규모 사업    0.001133
이사        0.000775
주택        0.000477
재생 에너지    0.000060
Name: 대출목적, dtype: float64

----------------------------------
최근_2년간_연체_횟수

0     0.857202
1     0.101956
2     0.024446
3     0.008228
4     0.004174
5     0.001968
6     0.000835
10    0.000298
7     0.000298
8     0.000238
9     0.000119
18    0.000060
14    0.000060
15    0.000060
13    0.000060
Name: 최근_2년간_연체_횟수, dtype: float64

----------------------------------

In [11]:
df.isnull().sum()

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
대출등급            0
dtype: int64

In [9]:
df.describe(include='all')

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
count,96294,9.629400e+04,96294,96294,96294,9.629400e+04,96294.000000,96294.000000,96294,96294.000000,9.629400e+04,9.629400e+04,96294.000000,96294.000000,96294
unique,96294,NaN,2,16,4,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,7
top,TRAIN_00000,NaN,36 months,10+ years,MORTGAGE,NaN,NaN,NaN,부채 통합,NaN,NaN,NaN,NaN,NaN,B
freq,1,NaN,64479,31585,47934,NaN,NaN,NaN,55150,NaN,NaN,NaN,NaN,NaN,28817
mean,NaN,1.830400e+07,NaN,NaN,NaN,9.392672e+07,19.379590,25.304827,NaN,0.345681,8.225035e+05,4.282282e+05,54.380584,0.005805,NaN
std,NaN,1.032908e+07,NaN,NaN,NaN,9.956871e+07,33.569559,12.088566,NaN,0.919119,1.027745e+06,4.402111e+05,1414.769218,0.079966,NaN
min,NaN,1.200000e+06,NaN,NaN,NaN,0.000000e+00,0.000000,4.000000,NaN,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,NaN
25%,NaN,1.020000e+07,NaN,NaN,NaN,5.760000e+07,12.650000,17.000000,NaN,0.000000,3.075720e+05,1.346160e+05,0.000000,0.000000,NaN
50%,NaN,1.680000e+07,NaN,NaN,NaN,7.800000e+07,18.740000,24.000000,NaN,0.000000,5.976960e+05,2.870040e+05,0.000000,0.000000,NaN
75%,NaN,2.400000e+07,NaN,NaN,NaN,1.128000e+08,25.540000,32.000000,NaN,0.000000,1.055076e+06,5.702160e+05,0.000000,0.000000,NaN
max,NaN,4.200000e+07,NaN,NaN,NaN,1.080000e+10,9999.000000,169.000000,NaN,30.000000,4.195594e+07,5.653416e+06,75768.000000,4.000000,NaN