In [1]:
#선언
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train_df = pd.read_csv('C:/Users/w7e7r/Desktop/스파르타/심화프로젝트/train.csv')
train_df.head()
train_df.tail()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
96289,TRAIN_96289,14400000,36 months,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,TRAIN_96290,28800000,60 months,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,TRAIN_96291,14400000,36 months,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,TRAIN_96292,15600000,36 months,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,TRAIN_96293,8640000,36 months,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [3]:
train_df['근로기간'] = train_df['근로기간'].replace('10+years', '10+ years')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year' '3' '1 years']

In [4]:
train_df['근로기간'] = train_df['근로기간'].replace('1 years','1 year')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year' '3']

In [5]:
train_df['근로기간'] = train_df['근로기간'].replace('3','3 years')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year']

In [7]:
train_df['근로기간'] = train_df['근로기간'].replace('< 1 year', '<1 year')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '<1 year']

In [8]:
train_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
oe = OneHotEncoder()

In [10]:
le.fit(train_df[['근로기간']])

c:\Users\w7e7r\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [11]:
le.classes_

array(['1 year', '10+ years', '2 years', '3 years', '4 years', '5 years',
       '6 years', '7 years', '8 years', '9 years', '<1 year', 'Unknown'],
      dtype=object)

In [12]:
train_df['work_le'] = le.transform(train_df[['근로기간']])

c:\Users\w7e7r\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [16]:
train_df.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급,work_le
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C,6
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B,1
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A,5
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C,8
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B,11

In [17]:
un_work_le = train_df[train_df['work_le'] == 11]
print(un_work_le)

                ID      대출금액        대출기간     근로기간    주택소유상태      연간소득  \
4      TRAIN_00004  18000000   60 months  Unknown      RENT  71736000
14     TRAIN_00014   4320000   36 months  Unknown       OWN  18000000
18     TRAIN_00018  12000000   36 months  Unknown  MORTGAGE  25200000
19     TRAIN_00019  15900000   36 months  Unknown      RENT  41858400
20     TRAIN_00020   4200000   36 months  Unknown  MORTGAGE  96000000
...            ...       ...         ...      ...       ...       ...
96217  TRAIN_96217  31800000   36 months  Unknown      RENT  79200000
96241  TRAIN_96241  11130000   36 months  Unknown       OWN  34800000
96243  TRAIN_96243  15000000   60 months  Unknown       OWN  84000000
96267  TRAIN_96267   8400000   36 months  Unknown  MORTGAGE  69600000
96288  TRAIN_96288  21150000   36 months  Unknown  MORTGAGE  50400000

       부채_대비_소득_비율  총계좌수    대출목적  최근_2년간_연체_횟수    총상환원금     총상환이자  총연체금액  \
4            25.39    19   주요 구매             0   228540  148956.0    0.0
14           16.00    22   신용 카드             0   305964  116076.0    0.0
18           36.57    20   부채 통합             0   554196  259344.0    0.0
19           18.34     9   신용 카드             0        0       0.0    0.0
20            7.23    21  소규모 사업             0    94068   70212.0    0.0
...            ...   ...     ...           ...      ...       ...    ...
96217        13.16    18   부채 통합             0   688080  409332.0    0.0
96241         7.24    34   주택 개선             2   240828  133032.0    0.0
96243        25.73    28   신용 카드             0   679332  754380.0    0.0
96267        18.73    43   부채 통합             0   737556  452304.0    0.0
96288        34.89    29   부채 통합            10  1481496  620328.0    0.0

       연체계좌수 대출등급  work_le
4        0.0    B       11
14       0.0    B       11
18       0.0    C       11
19       0.0    C       11
20       0.0    C       11
...      ...  ...      ...
96217    0.0    D       11
96241    0.0    D       11
96243    0.0    D       11
96267    0.0    D       11
96288    0.0    C       11

[5671 rows x 16 columns]

- 평균치를 넣어야하나?

In [19]:
train_df[['work_le']].describe()

            work_le
count  96294.000000
mean       4.046265
std        3.578116
min        0.000000
25%        1.000000
50%        3.000000
75%        7.000000
max       11.000000

-> 3 years?