In [1]:
#선언
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train_df = pd.read_csv('C:/Users/w7e7r/Desktop/스파르타/심화프로젝트/train.csv')
train_df.head()
train_df.tail()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
96289,TRAIN_96289,14400000,36 months,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,TRAIN_96290,28800000,60 months,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,TRAIN_96291,14400000,36 months,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,TRAIN_96292,15600000,36 months,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,TRAIN_96293,8640000,36 months,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [3]:
train_df['근로기간'] = train_df['근로기간'].replace('10+years', '10+ years')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year' '3' '1 years']

In [4]:
train_df['근로기간'] = train_df['근로기간'].replace('1 years','1 year')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year' '3']

In [5]:
train_df['근로기간'] = train_df['근로기간'].replace('3','3 years')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '< 1 year' '<1 year']

In [6]:
train_df['근로기간'] = train_df['근로기간'].replace('< 1 year', '<1 year')

# 변경된 데이터 확인
print(train_df['근로기간'].unique())

['6 years' '10+ years' '5 years' '8 years' 'Unknown' '9 years' '2 years'
 '1 year' '3 years' '7 years' '4 years' '<1 year']

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
oe = OneHotEncoder()

In [8]:
oe.fit(train_df[['근로기간']])

OneHotEncoder()

In [9]:
oe.categories_

[array(['1 year', '10+ years', '2 years', '3 years', '4 years', '5 years',
        '6 years', '7 years', '8 years', '9 years', '<1 year', 'Unknown'],
       dtype=object)]

In [10]:
work_csr = oe.transform(train_df[['근로기간']])
work_csr_df = pd.DataFrame(work_csr.toarray(), columns = oe.get_feature_names_out())
work_csr_df.head(3)

,근로기간_1 year,근로기간_10+ years,근로기간_2 years,근로기간_3 years,근로기간_4 years,근로기간_5 years,근로기간_6 years,근로기간_7 years,근로기간_8 years,근로기간_9 years,근로기간_<1 year,근로기간_Unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
pd.concat([train_df, work_csr_df],axis = 1).head(3)

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,...,근로기간_2 years,근로기간_3 years,근로기간_4 years,근로기간_5 years,근로기간_6 years,근로기간_7 years,근로기간_8 years,근로기간_9 years,근로기간_<1 year,근로기간_Unknown
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0